@{
    Layout = "_Layout";
}
<div class="row" ng-controller="featuredController">
    <div class="row">
        <h2>Noticias Destacadas</h2>
    </div>
    <div class="row">
        @await Html.PartialAsync("_NewCard")
    </div>
</div>
@section Scripts{
    <script src="~/js/factories/news-factory.js"></script>
    <script src="~/js/controllers/featured-controller.js"></script>
}